# **Fundamentos de Python**

**VARIAVEIS**

In [ ]:
nome = 'Wellington' #definição da variavel sempre o nome = valor (o "=" é chamado de operador de atribuição)

In [ ]:
idade = 18

In [ ]:
altura = 1.85

In [ ]:
e_matematica = True

In [ ]:
nome = 'Wellington'
idade = 18
altura = 1.85
e_matematica = True

**Como sabemos o valor que gravamos na variavel ?**

In [ ]:
nome

In [ ]:
altura

In [ ]:
nome #se colocarmos as duas variaveis em um bloco ele mostrará apenas o valor da ultima
altura

In [ ]:
#uma solução a esse caso acima é utilizar as seguintes formas
nome, altura

In [ ]:
#tambem podemos colocar palavras antes de exibir uma variavel
print("O valor da variavel nome é: ", nome)

**OPERADORES**

**Definindo algumas variáveis**

In [ ]:
a = 2
b = 5
d = "para"
e = "lelepipedo"

**Operadores Aritméticos**

- Os operadores possuem comportamentos diferentes dependendo do tipo das variaveis

In [ ]:
# Adição numérica
print(a+b)

7

In [ ]:
# Adição strings
print(d)
print(e)
print(d+e)

para
lelepipedo
paralelepipedo

In [ ]:
# subtração
print(a - b)

-3

In [ ]:
# divisão
print(b/a)

2.5

In [ ]:
# Parte inteira da divisão
print(a//b)

0

In [ ]:
# Resto da divisão
print(b)
print(a)

print(b%a)

5
2
1

In [ ]:
# multiplicação
print(a*b)

10

In [ ]:
print(a**3)

8

**Operadores Relacionais**

In [ ]:
# teste de igualdade numérica (não é =, é =)
a == b

False

In [ ]:
#teste de igualdade strings
print(d == e)
print("eu" == "eu")
print("eu" == "Eu")

In [ ]:
#teste da diferença numerica
a != b

In [ ]:
#teste da diferença strings
print("eu" != "Eu")

In [ ]:
#maior
a > b

In [ ]:
#menor
a < b

In [ ]:
# maior igual
2 >= 2

In [ ]:
#menor igual
2 <= 2

**Operadores Lógicos**

In [ ]:
print(a,b)

In [ ]:
a == 2 and b == 5

In [ ]:
a == 2 and b < 3

In [ ]:
a == 2 or b ==3

In [ ]:
print(d)
"x" not in d

In [ ]:
"p" not in d

**Operadores de Atribuição**

In [ ]:
w = 10

In [ ]:
print(w)

In [ ]:
# Atribuimos +3 unidades a variavel a
a+=3

In [ ]:
print(a)

In [ ]:
# Atribuimos 2 vezes o valor da variavel b a propria variavel b.
b*=2

In [ ]:
print(a, b)